.App {
  text-align: center;
}

.App-header {
  background-color: hsl(0, 0%, 15%);
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
  z-index: -1;
}

.credit {
  color: rgb(134, 134, 134);
}

.total-count{
  font-size: 35rem;
  position: absolute;
  z-index: 0;
  color: rgb(94, 94, 94);
}